*
  margin: 0
  +text-properties($main-font-size, $main-font, $main-color, $main-weight)
  @media screen and (max-width: $media-mobile)
    font-size: $mobile-font-size
li
  list-style: none
.wrapper
  max-width: 1170px
  margin: 0 auto
  padding: 0
  // overflow: hidden
a
  text-decoration: none !important
.img
  background-size: 100% 100%
.adaptive-img
  width: 100%
  height: auto
  margin: 0px !important
  padding: 0