//text-style
$main-font: 'Amsdam'
$secondary-font: 'Montserrat', sans-serif
$title-font: 'Crimson Text', serif


$main-color: #3e3d3d
$light-color: #d8d8d8

$title-font-size: 20px
$main-font-size: 14px
$main-font-size-small: 12px

$title-mobile-font-size: 18px
$mobile-font-size: 14px
$mobile-font-size-small: 10px

$main-weight: 400
$bold-weight: 700

$media-mobile: 400px
$media-tablet: 800px

%flex-center
  display: flex
  justify-content: center
  align-items: center
