.logo
  &:hover
    cursor: pointer
  &__img
    padding: 15px 20px
  &__text
    +flex-align(center)
    +text-size-family-color(18px, $secondary-font, #757575)
    text-transform: uppercase
  &--header
    +flex-flow(row nowrap)
    width: 30%